NODE-RED/JSON/flows.json
[
    {
        "id": "d04b390fa1589e63",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "077c3cbfbd251567",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8eaad97b18886c7c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f0d12f171d93f26e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": "1"
    },
    {
        "id": "2598ec58bc76458c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "841e2f36461cfcbf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b669a5e75ccd3991",
        "type": "ui_group",
        "name": "KONTROL LED",
        "tab": "f0d12f171d93f26e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0fe7f92036fa6c41",
        "type": "ui_group",
        "name": "KELEMBABAN",
        "tab": "f0d12f171d93f26e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f6e5cc8aaf6a6da",
        "type": "ui_group",
        "name": "SUHU",
        "tab": "f0d12f171d93f26e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6d7bf62bb11f853d",
        "type": "inject",
        "z": "d04b390fa1589e63",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "\"hello world [DANIA KIKI SANDIYA]\"",
        "payloadType": "str",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "1c4eb18ed1e52dae"
            ]
        ]
    },
    {
        "id": "1c4eb18ed1e52dae",
        "type": "debug",
        "z": "d04b390fa1589e63",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "71167c6cd5ef74d5",
        "type": "mqtt in",
        "z": "077c3cbfbd251567",
        "name": "SUHU",
        "topic": "/Myskill/test/kirim/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2598ec58bc76458c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 360,
        "wires": [
            [
                "dfd7b03dd7b187c5"
            ]
        ]
    },
    {
        "id": "dfd7b03dd7b187c5",
        "type": "ui_gauge",
        "z": "077c3cbfbd251567",
        "name": "SUHU",
        "group": "0f6e5cc8aaf6a6da",
        "order": 1,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "ff56c76005b496a0",
        "type": "ui_gauge",
        "z": "077c3cbfbd251567",
        "name": "KELEMBABAN",
        "group": "0fe7f92036fa6c41",
        "order": 0,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "1a1c12c3bd171383",
        "type": "mqtt in",
        "z": "077c3cbfbd251567",
        "name": "KELEMBABAN",
        "topic": "/Myskill/test/kirim/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2598ec58bc76458c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "ff56c76005b496a0"
            ]
        ]
    },
    {
        "id": "59b42a4b20d00829",
        "type": "ui_switch",
        "z": "077c3cbfbd251567",
        "name": "LED HIJAU",
        "label": "LED HIJAU",
        "tooltip": "",
        "group": "b669a5e75ccd3991",
        "order": 1,
        "width": "",
        "height": "",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "HIJAU1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "HIJAU0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "056876f4a41ba2e4"
            ]
        ]
    },
    {
        "id": "056876f4a41ba2e4",
        "type": "mqtt out",
        "z": "077c3cbfbd251567",
        "name": "KONTROL LED",
        "topic": "/SIBMyskill/test/mqtt",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2598ec58bc76458c",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "bb9e884de36129fb",
        "type": "ui_switch",
        "z": "077c3cbfbd251567",
        "name": "LED BIRU",
        "label": "LED BIRU",
        "tooltip": "",
        "group": "b669a5e75ccd3991",
        "order": 2,
        "width": "",
        "height": "",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "BIRU1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "BIRU0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "056876f4a41ba2e4"
            ]
        ]
    }
]